@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: #AFC8AD;
    --secondary-color: #bbe0c0;
    --background-color: #F2F1EB;
    --backgrounds-color: #F2F1FF;
    --dark-color: #000000;  
    --opacity-color: #75A47F;
    --contrast-color: #2C7865;
}

body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--dark-color);
    flex: 1;
}

header {
    background-color: #AFC8AD;
    padding: 20px 0;
}

.caja {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.logo img {
    height: 100px; 
}

nav {
    position: static; 
}

nav ul {
    padding: 0; 
    list-style: none;
}

nav li {
    display: inline; 
    margin: 0 10px; 
}

nav a {
    text-decoration: none;
    color: #2C7865;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

nav a:hover {
    color: var(--backgrounds-color);
    text-decoration: underline;
}

.main {
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    flex: 1;
}

.formulario-registro {
    background-color: var(--secondary-color);
    padding: 40px;
    margin: 40px auto;
    width: 50%; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.formulario-registro h2 {
    text-align: center;
    color: var(--contrast-color);
}

.formulario-registro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-registro label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-registro input[type="text"],
.formulario-registro input[type="email"],
.formulario-registro input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%; 
    border: none;
    border-radius: 4px;
}

.formulario-registro button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.formulario-registro button:hover {
    background-color: var(--contrast-color);
}

footer {
    background-color: var(--contrast-color); 
    color: var(--background-color); 
    padding: 20px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

footer p {
    opacity: 0.8;
}
