@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary-color: #AFC8AD;
    --background-color: #F2F1EB;
    --backgrounds-color: #F2F1FF;
    --dark-color: #0000;  
    --opasity-color: #75A47F;
    --contrast-color: #2C7865;
}

@media (max-width: 768px) {
    #banner {
        max-width: 100%; 
    }
    body {
        font-size: 0.8rem; 
    }
}

html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background-color: #AFC8AD;
    
}
header {
    width: 100%;
    box-sizing: border-box; 
    background-color: #AFC8AD;
    text-align: center;
}



body{
    background-color: var(--background-color);
     line-height: 1.6; 
    font-size: 16px; 
    }
    
   
    



#banner {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta esto según la altura deseada */
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}

#banner .gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, rgba(0,0,0,1) 100%);
}

.titulo-principal{
    text-align: center;
}
.caja {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 0 20px; 
}

.logo img {
    height: 100px; 
    width: auto; 
}

.integrantes p {
    font-size: 0.8rem;  
    color: #2C7865;   
    margin: 2px 20px 2px 0; 
    white-space: nowrap; 
    align-self: center; }
    
.titulo-principal {
    flex-grow: 1; 
    text-align: center; 
    margin: 0 20px; 
}

nav {
    display: flex; 
    align-items: center;
}

nav ul {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style: none; /
}

nav li {
    margin: 0 10px; 
}

nav a {
    text-decoration: none;
    color: #2C7865;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

nav a:hover {
    color: var(--backgrounds-color);
    text-decoration: underline;
}


h1, h2, h3 {
    font-weight: bold; 
}



#mision{
    font-size: 20px;
}

.principal{
    background-color: #AFC8AD;
    padding: 40px;
    margin: 40px auto;
    width: 93%; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.diferenciales{
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    background: var(--background-color);
    padding: 20px 0; /* Agrega padding vertical para espacio alrededor del contenido */
}

ul{
    
    display: block; /* Hace que la lista ocupe toda la línea */
    text-align: center; /* Alinea el texto de los items al centro */
    width: 100%; /* Permite que la lista ocupe todo el ancho disponible */
    padding: 0;
    margin: 20px 0; /* Añade espacio arriba y abajo de la lista */

}

ul li.items {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white; /* Define un color de fondo inicial */
    transition: background-color 0.3s; /* Cambia 'primary-color' a 'background-color' */
}

ul li.items:hover {
    background-color: var(--primary-color); /* Color de fondo cambia a primary-color cuando el mouse está encima */
}

.imageDiferenciales {
    display: block; /* Asegura que la imagen sea tratada como un bloque para permitir el centrado */
    height: auto; /* Mantiene la proporción de la imagen ajustando su altura automáticamente */
    margin: 20px auto; /* Centra la imagen horizontalmente con margen automático y añade espacio vertical */
    object-fit:scale-down;
    width: 30%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.titulo-centralizado{
    text-transform: uppercase;
    text-align: center;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.blog ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin: 20px 0;
}

.blog li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.blog img {
    width: 100%; 
    height: 100px; 
    object-fit: cover; 
    margin-bottom: 5px;
}

.blog h3 {
    font-size: 16px; 
    margin-bottom: 5px;
}

.blog p {
    font-size: 14px; 
}
.blog h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.blog-descripcion {
    font-size: 18px;
    margin: 5px 0;
}

.blog-precio {
    font-size: 18px;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: var(--secondary-color); 
    color: var(--background-color); 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.blog-precio:hover {
    background-color: var(--contrast-color); 
}


.blog li:hover {
    border-color: var(--backgrounds-color);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: var(--contrast-color); 
    color: var(--background-color); 
    padding: 20px;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

footer p {
    opacity: 0.8;
}